<div class="title">Detail</div>
<ul class="nav nav-stacked">
	<li><a href="#"><b>Name</b> <span class="pull-right"><%= model.name %></span></a></li>
	<li><a href="#"><b>Driver</b> <span class="pull-right"><%= model.type.name %></span></a></li>
	<li><a href="#"><b>Host/IP Address</b> <span class="pull-right"><%= model.host %></span></a></li>
	<li><a href="#"><b>Port</b> <span class="pull-right"><%= model.port %></span></a></li>
	<li><a href="#"><b>Rack</b> <span class="pull-right"><%= model.rack %></span></a></li>
	<li><a href="#"><b>Slot</b> <span class="pull-right"><%= model.slot %></span></a></li>
	<li><a href="#"><b>Enabled</b> <span class="pull-right"><%= model.enabled %></span></a></li>
	<li><a href="#"><b>Description</b> <span class="pull-right"><%= model.description %></span></a></li>
</ul>

<div class="box-footer">
	<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
</div>