<div class="title"><i class="fa fa-file-text-o"></i> Detail Tag</div>
<ul class="nav nav-stacked">
	<li><a href="#"><b>Name</b> <span class="pull-right"><%= model.name %></span></a></li>
	<li><a href="#"><b>Device</b> <span class="pull-right"><%= model.device.name %></span></a></li>
	<li><a href="#"><b>Description</b> <span class="pull-right"><%= model.description %></span></a></li>
	<li><a href="#"><b>Address</b> <span class="pull-right"><%= model.address %></span></a></li>
	<li><a href="#"><b>Min</b> <span class="pull-right"><%= model.min %></span></a></li>
	<li><a href="#"><b>Max</b> <span class="pull-right"><%= model.max %></span></a></li>
	<li><a href="#"><b>Limit Low</b> <span class="pull-right"><%= model.lo_lim %></span></a></li>
	<li><a href="#"><b>Limit High</b> <span class="pull-right"><%= model.hi_lim %></span></a></li>
	<li><a href="#"><b>Engineering Unit</b> <span class="pull-right"><%= model.eu %></span></a></li>
</ul>

<div class="box-footer">
	<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
</div>